// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  display: flex;
  padding: 16px;
}

.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid lightgrey;
}

.header > a {
  padding: 12px;
  border-radius: 12px;
  border:solid lightblue;
  color: lightskyblue;
  font-weight: bold;
  text-decoration: none;
  margin: 4px 0;
}

.container {
  margin: 4px 32px;
}

.form {
  display: flex;
  align-items:center;
  flex-direction:column;
  border: 1px solid lightgrey;
}

form > input {
  width: 100%;
  margin: 4px;
}

.card {
  display: flex;
  align-items:left;
  flex-direction:column;
  background-color: rgb(238, 238, 238);
  flex-grow: 1;
  padding: 8px;
}
div {
  display: block;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  list-style: none;
}

ul > li {
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px grey;
}

li  a {
  padding: 8px;
  line-height: 40px;
}

#card-name {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px;
  padding: 28px;
  text-decoration: none;
  width: 380px;
}

#card-description {
  border-radius: 5px;
  box-shadow: 0 0 15px;
  padding: 28px;
  text-decoration: none;
  width: 380px;
}

#card-details {
  border-radius: 5px;
  box-shadow: 0 0 15px;
  padding: 28px;
  text-decoration: none;
  width: 380px;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1585531455700-7af2f103924d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  padding: 120px;
}

.container {
  margin: 50px;
  padding-left: 50px;
}
